body {
    background-color: coral;
    align-items: center;
}

#pp {
    border-radius: 10px;
}

#sp {
    border: solid 6px black;
    padding: 15px;
}

img:hover {
   background-color:crimson
}

ul {
    border: 2px solid black;
    width: 50%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 10px;
    width: 6%;
}

#cc {
    cellspacing: 10px;
}